Html, body {
  max-width: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
  z-index: 2;
  position: fixed;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

a.active, a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1000px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 0;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover, a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* ============== HOME PAGE ============== */
.home-body {
  width: auto;
  height: auto;
  background-color: #24263B;
  padding-top: 6%;
}

.body-flex {
  width: auto;
  height: auto;
  background-color: #24263B;
  display: flex;
  flex-direction: row;
  left: 10px;
  right: 10px;
  flex-flow: wrap;
}

.home-flex {
  width: 45%;
  height: auto;
  background-color: #24263B;
  position: relative;
  margin: 20px;
  z-index: 0;
  left: 5%;
}

/*  Add responsive media quarie  */
@media screen and (max-width:1200px) {
  .home-flex {
    flex-basis: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .home-flex .profimg {
    height: 100%;
    width: 100%;
    ;
    flex-basis: auto;
    position: relative;
    right: 40px;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .home-flex .nestedrow1 {
    font-size: 330%;
    margin-left: 0;
    margin-right: 8%;
  }
}

@media screen and (max-width:1100px) {
  .home-flex {
    width: 100%;
    flex-basis: auto;
    background-color: #24263B;
    padding-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .home-flex .profimg {
    height: 100%;
    width: 100% flex-basis: auto;
    position: relative;
    right: auto;
    padding: 0;
    right: 40px;
    margin: 0;
    display: inline-block;
  }

  .home-flex .nestedrow1 {
    font-size: 360%;
    margin-left: 0;
  }
}

.profimg {
  height: 42vw;
  width: 42vw;
  align-items: center;
  display: inline-block;
}

.nestedrow1 {
  font-size: 400%;
  font-family: "Poppins";
  text-shadow: 10px 10px 10px #001133;
  color: white;
  margin-top: 12rem;
  text-align: center;
  margin-right: 10px;
  ;
}

.nesrow2td {
  display: inline-block;
  word-spacing: 2px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: gray;
  text-shadow: 5px 5px 5px #000011;
  position: relative;
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 7%;
  text-align: center;
}

.btn {
  display: inline-block;
  position: relative;
  margin-top: 60px;
  margin-left: 45%;
  margin-right: 10rem;
  z-index: 0;
  color: #cc6600;
  transform: translate(-50%, -50%);
  display: block;
  width: 150px;
  height: 40px;
  font-family: 'Raleway';
  font-size: large;
  border-radius: 20px;
  border: none;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25),
    -8px -8px 12px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover {
  z-index: 0;
  box-shadow: 50px 50px 50px #cc0000 inset,
    50px 50px 50px #cc0000 inset;
}

/* ============== ABOUT PAGE ============== */
.about-body {
  width: 100%;
  height: auto;
  background-color: #1F2235;
  color: #ffffff;
  padding-top: 6%;
}

.aboutcontainer-flex {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-left: 12px;
  background-color: #1F2235;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
}

.about-flex {
  width: 630px;
  height: 500px;
  background-color: #1F2235;
  position: relative;
  margin: 10px;
  z-index: 0;
}

/*  Add responsive media quarie  */
@media screen and (max-width:1200px) {
  .home-flex {
    width: 100%;
    flex-basis: auto;
    padding: 0;
    margin: 0;
  }

  .about-body {
    flex-basis: auto;
    width: 100%;
  }

  .about-flex .pfp {
    height: 18rem;
    width: 18rem;
  }

  .home-flex .hel1 {
    position: relative;
    padding-top: 0;
  }

  .about-body .data1 {
    margin-top: 5rem;
  }
}

@media screen and (max-width:1100px) {
  .home-flex {
    width: 100%;
    flex-basis: auto;
    background-color: #24263B;
    padding: 0;
    margin: 0;
  }

  .about-body {
    width: 105%;
    flex-basis: auto;
  }

  .about-flex .pfp {
    height: 18rem;
    width: 18rem;
  }

  .about-body .data1 {
    margin-top: 5rem;
  }

  .home-flex .hel1 {
    position: relative;
    padding-top: 0;
  }
}

.abouttitle1 {
  padding-top: 80px;
  text-align: center;
  height: 4rem;
  font-size: 2rem;
  font-family: "Poppins";
  text-shadow: 4px 4px 4px #001133;
  color: #cc0000;
}

.hoverh2 {
  display: inline-block;
}

.hoverh2:hover {
  color: white;
}

.pfp {
  width: 19rem;
  height: 19rem;
  position: relative;
  top: 20px;
  left: 3vw;
  background-size: contain;
  border: 4px solid #24263B;
  border-radius: 50% 50% 50% 50%;
  margin: auto;
}

.data1 {
  display: block;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 2rem;
  font-weight: 400px;
  color: white;
  margin-left: 4vw;
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.data2 {
  color: #6c757d;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  right: 4%;
}

.hel1 {
  --font-family-monospace: "Liberation Mono", "Courier New", monospace;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 10%;
  padding-top: 5vw;
}

.desc {
  color: #6c757d;
  padding-left: 5px;
  padding-top: 5%;
  padding-right: 15px;
  padding-bottom: 10%;
  -webkit-ext-size-adjust: auto;
}

/* ============== SKILLS PAGE ============== */
.skills-body {
  width: 100%;
  height: auto;
  background-color: #24263B;
  color: #ffffff;
  padding-top: 0;
}

.skillscontainer-flex {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #24263B;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
}

.skills-flex {
  width: 630px;
  height: 750px;
  background-color: #24263B;
  position: relative;
  margin: 10px;
  z-index: 0;
}

/*  Add responsive media quarie  */
@media screen and (max-width:1200px) {
  .home-flex {
    width: 100%;
    flex-basis: auto;
    padding: 0;
    margin: 0;
  }

  .skills-body {
    flex-basis: auto;
    width: 100%;
  }
}

@media screen and (max-width:1100px) {
  .skillscontainer-flex {
    text-align: center;
  }

  .home-flex {
    width: 100%;
    flex-basis: auto;
    background-color: #24263B;
    padding: 0;
    margin: 0;
  }

  .skills-body {
    width: 105%;
    flex-basis: auto;
  }

  .home-flex .hel1 {
    position: relative;
    padding-top: 0;
  }
}

.skillsimg {
  width: 10rem;
  height: 10rem;
}

.skilltitle1 {
  text-align: center;
  height: 4rem;
  font-size: 2rem;
  font-family: "Poppins";
  text-shadow: 4px 4px 4px #001133;
  color: #cc0000;
  padding-top: 5%;
}

.meter {
  text-align: right;
  height: 10px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
  width: 85%;
  border-radius: 4px;
  box-sizing: border-box;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #ff2cd0;
  -webkit-animation: progressBar 6s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: progressBar 6s ease-in-out;
  -moz-animation-fill-mode: both;
}

.prog-align {
  padding-left: 20%;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

  width: 0;

  100% {
    width: 100%;
    background: #ff0000;
  }

  50% {
    width: 100%;
    background: #ff6666;
  }

  75% {
    width: 100%;
    background: #00ff00;
  }

  100% {
    width: 100%;
    background: #660000;
  }
}
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

  25% {
    width: 10%;
    background: #ff0000;
  }

  50% {
    width: 100%;
    background: #ff6666;
  }

  75% {
    width: 100%;
    background: #00ff00;
  }

  100% {
    width: 100%;
    background: #660000;
  }
}
}

.img-flex figure img {
  height: 100px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.img-flex figure:hover img {
  height: 100px;
  width: 100%;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.achimg {
  height: 70px;
  width: 80%;
  padding: 0;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imgcontainer-flex {
  margin-left: 12%;
  margin-right: 30px;
  width: 500px;
  height: auto;
  padding-top: 0;
  padding-right: 0;
  background-color: #24263B;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.img-flex {
  margin-right: 5%;
  margin-bottom: 2%;
  width: 35%;
  text-align: center;
  height: auto;
  background-color: #24263B;
  position: relative;
  z-index: 0;
}

@media screen and (max-width:690px) {
  .img-flex {
    margin: 2% 5% 2% 5%;
    width: 110px;
  }

  .imgcontainer-flex {
    margin-left: 15%;
  }

  .img-flex .achimg {
    height: 60px;
    ;
    width: 60px;
    padding: 0;
  }
}

.softech-text {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-left: 4vw;
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border: 3px dashed #20bcd5;
  padding: 5px;
}

@media screen and (max-width:1000px) {
  .softech-text {
    display: inline-block;
    padding: 5px;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2.5rem;
    border: 3px dashed #20bcd5;
  }
}

.coading-text {
  display: inline-block;
  padding: 5px;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  margin-top: 2rem;
  margin-left: 30%;
  border: 3px dashed #20bcd5;
}

@media screen and (max-width:1000px) {
  .coading-text {
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 1.5rem;
    color: white;
    margin-left: 0.5vw;
    margin-top: 2rem;
    margin-right: 5vw;
    margin-bottom: 0;
    display: inline-block;
    border: 3px dashed #20bcd5;
    padding: 5px;
  }
}

.softech-text1 {
  color: #6c757d;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  margin-left: 5%;
  margin-right: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.softech-text2 {
  color: #6c757d;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  margin-left: 25%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media screen and (max-width:1000px) {
  .softech-text1 {
    color: #6c757d;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    margin-left: 20%;
    margin-right: 25%;
  }

  @media screen and (max-width:1000px) {
    .softech-text2 {
      text-align: justify;
      color: #6c757d;
      font-family: "Montserrat", sans-serif;
      display: inline-block;
      font-size: 1rem;
      position: relative;
      margin-left: 10%;
      margin-right: 15%;
    }
  }

  @media screen and (max-width:1000px) {
    .prog-align {
      padding-left: 10%;
    }
  }
